@model ReadMagazine.Domain.Entities.ChannelRss
@{
    ViewBag.Title = Model.TituloChannel;
    Layout = "~/Views/Shared/_MagazineChannel.cshtml";
}
<header class="main-title">
    <h1>@Model.TituloChannel</h1>
    <p>@Model.DescriptionChannel</p>

</header>
@{var ramdom = new Random();

  var indicePagina = ramdom.Next(0, Model.Paginas.Count - 1);
  var indiceNoticiaTapa = ramdom.Next(0, Model.Paginas[indicePagina].Noticias.Count);
}
<style type="text/css">
    .page.cover .front .content 
    {
        background: #ddd url(@Model.Paginas[indicePagina].Noticias[indiceNoticiaTapa].UrlImage) no-repeat center center;
    background-size: cover;
    }
</style>
<div id="flip" class="container">

    <div class="f-page f-cover">
        <div class="cover-elements">
            <div class="logo">
                <a class="f-ref" href="@Model.LinkChannel">@Model.TituloChannel</a>
            </div>
            <h1>@Model.DescriptionChannel</h1>
            <div class="f-cover-story">
                @{
                    <span>

                        @Html.Raw(Model.Paginas[indicePagina].Noticias[indiceNoticiaTapa].Title)




                    </span>
                    @*Model.Paginas[indicePagina].Noticias[indiceNoticiaTapa].DescripcionSoloTexto;*@
                
                }
            </div>
        </div>
        <div class="f-cover-flip">&lt; Flip</div>
    </div>
    @{
        foreach (var pagina in Model.Paginas)
        {
        <div class="f-page">
            <div class="f-title">
                <a href="#">Previous Demo</a>
                <h2>@Model.TituloChannel ...</h2>
                <a href="#">Back to the Codrops Article</a>
            </div>
            @{
            foreach (var noticia in pagina.Noticias)
            {
                <div class="box @noticia.WidthClass @noticia.HeigthClass  title-top box-b-r box-b-l">
                    @{if (!String.IsNullOrEmpty(noticia.UrlImage))
                      {
                        <div class="img-cont" style="background-image: url(@noticia.UrlImage)"></div>
                      } 
                    }
                    <h3>@noticia.Title<span>Published May 3, 2012</span></h3>
                    <p>@Html.Raw(noticia.Descripcion)</p>
                    <p>@Html.Raw(noticia.Contenido)</p>
                </div>
                        
            }
            }
        </div>
        }
    }

    <div class="f-page f-cover-back">
        <div id="codrops-ad-wrapper">
        </div>
    </div>
</div>
@*<fieldset>


    <div class="display-label">LinkChannel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkChannel)
    </div>

    <div class="display-label">UrlImage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrlImage)
    </div>

    <div class="display-label">DescriptionChannel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescriptionChannel)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
