@model ReadMagazine.Domain.Entities.ChannelRss
@{
    ViewBag.Title = Model.TituloChannel;
    Layout = "~/Views/Shared/_MagazineChannel.cshtml";
}
<header class="main-title">
    <h1>@Model.TituloChannel</h1>
    <p>@Model.DescriptionChannel</p>

</header>

<style type="text/css">
    .page.cover .front .content 
    {
        background: #ddd url(@Model.NoticiaTapa.UrlImageTapa) no-repeat center center;
    background-size: cover;
    }
    .page.cover .gradient.lower 
    {
        bottom: 0;
        background-image: -webkit-linear-gradient(bottom,rgba(218, 217, 231, 0.6),rgba(0,0,0,0) 100%);
        background-image: -moz-linear-gradient(bottom,rgba(218, 217, 231, 0.6),rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient(bottom,rgba(218, 217, 231, 0.6),rgba(0,0,0,0) 100%);
        background-image: linear-gradient(bottom,rgba(218, 217, 231, 0.6),rgba(0,0,0,0) 100%);
    }
    .page.cover .gradient.upper 
    {
        top: 0;
        background-image: -webkit-linear-gradient(top,rgba(58, 157, 248, 0.5),rgba(0,0,0,0) 100%);
        background-image: -moz-linear-gradient(top,rgba(58, 157, 248, 0.5),rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient(top,rgba(58, 157, 248, 0.5),rgba(0,0,0,0) 100%);
        background-image: linear-gradient(top,rgba(58, 157, 248, 0.5),rgba(0,0,0,0) 100%);
    }

    .page.cover .gradient 
    {
        position: absolute;
        width: 100%;
        height: 600px;
        z-index: 1;
        opacity: 1;
    }
    .page.cover *:not(.flip-hint) {
      
        z-index: 3;
    }
    
</style>
<div id="flip" class="container">

    <div class="f-page f-cover">
        <div class="cover-elements">
            <div class="logo">
                <a class="f-ref" href="@Model.LinkChannel">@Model.TituloChannel</a>
            </div>
            <h1>@Model.DescriptionChannel</h1>
            <div class="f-cover-story">
                @{
                    <span>

                        @Html.Raw(Model.NoticiaTapa.Title)




                    </span>                
                }
            </div>

        </div>
        <div class="f-cover-flip">&lt; Flip</div>
    </div>
    @{
        foreach (var pagina in Model.Paginas)
        {
        <div class="f-page">
            <div class="f-title">
                <a href="#">Previous Demo</a>
                <h2>@Model.TituloChannel ...</h2>
                <a href="#">Back to the Codrops Article</a>
            </div>
            @{
            foreach (var noticia in pagina.Noticias)
            {
                <div class="box @noticia.WidthClass @noticia.HeigthClass  title-top box-img-left box-b-r box-b-l">

                    @{if (!String.IsNullOrEmpty(noticia.UrlImage) && noticia.UrlImage != "http://tempuri.org")
                      {
                        <div class="img-cont" style="background-image: url(@noticia.UrlImage)"></div>
                        
                      } 
                    }
                    <h3>@noticia.Title<span>Published May 3, 2012</span></h3>
                    <p>@Html.Raw(noticia.DescripcionSoloTexto)</p>
                    <div class="contenidoSoloTexto" style="display: block">
                        @Html.Raw(noticia.ContenidoSoloTexto)
                    </div>
                    <div class="contenido" style="display: none">
                        @Html.Raw(noticia.ContenidoSinImagenes)
                    </div>
                </div>
                        
            }
            }
        </div>
        }
    }

    <div class="f-page f-cover-back">
        <div id="codrops-ad-wrapper">
        </div>
    </div>
</div>

